:root {
    --white: #FFFAFA;
    --black: #1B1B1B;
    --lightBlue: #5DA9E9;
    --blue: #003F91;
    --purple: #6D326D;
}

#box {
    width: 100px;
    height: 100px;
    font-size: 50px;
    background-color: var(--white);
    color: var(--purple);
}

#sectionResult {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50%;
}

#sectionResult > article {
    display: flex;
    gap: 20px;
}

#sectionGame {
    display: grid;
    grid-template-columns: 110px 110px 110px;
    width: 600px;
    margin: auto;
    justify-content: center;
}