:root {
    --white: #FFFAFA;
    --black: #1B1B1B;
    --lightBlue: #5DA9E9;
    --blue: #003F91;
    --purple: #6D326D;
}

#box {
    width: 200px;
    height: 200px;
    font-size: 100px;
    background-color: var(--white);
    color: var(--purple);
}

#sectionGame {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
    margin: auto;
}