#logo {
    width: 35%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    padding: 10px;
    margin: 10px;
}

button:hover {
    cursor: pointer;
}

ul {
    text-align: center;
}